<%- include("partials/header.ejs") %>

<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <% if (locals.blogs.length) { %>
  <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">
    Latest Blogs
  </h2>
  <% } %>

  <!-- Blog Cards Container -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <% if (locals.blogs.length) { %> <% blogs.forEach(blog => {%>

    <!-- Blog Card 1 -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <!-- <img src="https://via.placeholder.com/300x200" alt="Blog Image 1" class="w-full h-48 object-cover"> -->
      <div class="p-4">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          <%= blog.title %>
        </h3>
        <p class="text-gray-600 mb-4"><%= blog.post %></p>

        <!-- Button Container -->
        <div class="flex space-x-4">
          <!-- Read More Button -->
          <!-- <button
            class="bg-green-500 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2"
          >
            Read More
          </button> -->

          <!-- Edit Button -->
          <a href="/edit/<%= blog.id%>"
            class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
          >
            Edit
        </a>

          <!-- Delete Button -->
          <form
            action="/delete-post/<%= blog.id %>"
            ?_method="DELETE"
            method="POST"
          >
            <button
              type="submit"
              class="bg-red-500 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>

    <% }) %> <% } else { %>
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">
      NO BLOG TO SHOW
    </h2>
    <% } %>
  </div>
</section>

<%- include("partials/footer.ejs") %>
